#index-loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: 7rem;
    padding-top: 0;

    img{
        width: clamp(170px, 5vw, 200px);
        margin-bottom: 4.8rem
    }
}