.modal-quote-deleted {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999999999999999999999;
    top: 0;
    left: 0;
    background-color: var(--modal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 7rem clamp(1rem, 1vw, 1.8rem) 7rem;

    span{
        text-align: center;
    }
    

    .danger{
        cursor: pointer;
        padding: 1.6rem 0;
        text-decoration: underline;
    }
}